/* Reset default styles for the body */
body {
    margin: 5em;
    padding: 0;
    background-image: linear-gradient(black, aqua);
    font-family: "Monocode", monospace, Arial, sans-serif;
    background-color: #f6f6f6;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Styles for the header */
h1 {
    margin: 20px 0;
    text-align: center;
    color: #75B8FF;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 100%;
    /* Set the container to take the full width of its parent */
    box-sizing: border-box;
    /* Ensure padding and border are included in width calculation */
}

/* Styles for the input container */
.input-container {
    margin: 20px 0;
}

/* Styles for the label and input */
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.glassy-input-container {
    display: flex;
    align-items: center;
    border: 2px solid #007bff;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.glassy-input {
    flex: 2;
    padding: 10px;
    border: none;
    outline: none;
    background: transparent;
}

/* Glassy effect for the input on focus */
.glassy-input:focus {
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.4);
}

/* Styles for the button */
.glassy-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    font-family: "Monocode", monospace, Arial, sans-serif;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Glassy effect for the button on hover */
.glassy-button:hover {
    background-color: #0056b3;
}

/* Click effect for the button */
.glassy-button:active {
    transform: translateY(2px);
}

/* Styles for the message container */
#messages {
    background-color: white;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

/* Styles for the body text */
.body-text {
    margin-top: 20px;
    line-height: 1.5;
}